/* Set the background color to a light blue */
body {
    background-color: #273345;

}

header,
footer {
    background-color: #022350;
}

/* Set the font family to Amazon Ember */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Amazon Ember", sans-serif;
}

/* Set the font color to a dark blue */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #e5e5e5;
}

/* Add a border to all images */
img {
    border: 1px solid #ddd;
}

/* Style links to look like buttons */
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f6ff00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: black;
}

a:hover {
    background-color: #0f4fb6;
}

.warning {
    color: red;
    font-weight: bold;
}
